body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: azure;
}
.nave-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: transparent;
}
.logo {
    display: flex;
    align-items: center;
}
.logo i {
    font-size: 30px;
    margin-right: 10px;
}
.logo h3{
    color: black;
    font-size: 28px;
}
.list ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list ul li {
    margin: 0 15px;
    cursor: pointer;
}
.list :hover{
    color: brown;
  
}
.button button {
    padding: 10px 20px;
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 40px;

}
.button :hover{
    color: brown;
    background-color: black;
}
.center {
    text-align: center;
    padding: 60px 20px;
}
.center-top .top-p {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.center-top h1 {
    font-size: 48px;
    margin: 10px 0;
}
.center-top .mid-p {
    color: black;
    margin-bottom: 30px;
}
.mid-bottom {
    margin-bottom: 30px;
}
.input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}
.input form input[type="email"] {


    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
   
}
.input button {
    padding: 10px 20px;
    background-color:red;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 37px;
    font-weight: bold;
    font-size: 13px;
}

.mid-bottom p {
    color: black;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    gap: 200px;
}


/* MEDIA QUERY */

@media (min-width: 768px) and  (max-width: 1024px) {
    .nave-bar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       
    }
    .list li{
        display: none;
    }
    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        gap: 15px;
    }  
}